<aside class="aside">
        <a href="/"><h2>Yazılarım</h2></a>
        <a href="#"><h2>Son Paylaşımım</h2></a>
        <a href="/about"><h2>Hakkımda</h2></a>
        <a href="/message/send-message"><h2>Bana Ulaşın</h2></a>
        <button class="back nav-button">
           <i class="fa fa-angle-left fa-3x "></i>
        </button>
</aside>