

<div class="settings-menu">
    <a href="/settings" class="setting-card background-orange">
        Sayfa Ayarları
    </a>
    <a href="/settings/comments" class="setting-card background-blue">
        Yorumlar
    </a>
    <a href="/settings/posts" class="setting-card background-grey">
        Gönderiler
    </a>
    <a href="/settings/messages" class="setting-card background-red">
        Mesajlar
    </a>
    <a href="/settings/forbidden" class="setting-card background-red">
        Yasaklı Listesi
    </a>
</div>

