{{#section 'styles'}}
    <link rel="stylesheet" href="/styles/login.css">
{{/section}}

{{#section 'scripts'}}
    <script src="scripts/login.js"></script>
{{/section}}

<div class="login-area">
        <form class="login">
    <h3>Giriş Yap</h3>
    <div class="form-group">
        <label for="email">E-Posta Adresin</label>
        <input type="text" required max="50" id="email" class="width-100 mt-5">
    </div>
    <div class="form-group">
        <label for="password">Şifre</label>
        <input type="password" required min="3" id="password" class="width-100 mt-5">
    </div>
    <div class="form-group">
        <label for="rememberMe">Beni Hatırla</label>
        <input type="checkbox" name="rememberMe" id="rememberMe" checked>
    </div>
    <button class="background-blue width-100">Giriş Yap</button>
</form>

</div>
