{{#section 'styles'}}
    <link rel="stylesheet" href="/styles/your-message-taken.css">
{{/section}}

<div class="message">
    <h1>Mesajın Alınmıştır</h1>
    <h3>Sana en kısa sürede geri döneceğim.</h3>
    <img height="250" src="http://www.christiandve.com/wp-content/uploads/2017/02/permitido.png" alt="success" />
</div>